.fondo-color, .foot {
  background: #071739;
  color: white;
}

#container-result {
  padding-top: 10px;
  font-weight: bold;
}

.card {
  background-color: #6497b1;
  text-align: center;
}

.header-section {
  background-color: #274684;
}

main {
  background-color: #b3cde0;
}

.clear {
  color:whitesmoke;
  background: none;
  border: none; 
  font-weight:bold;
  text-decoration: underline;
}